.table {
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 80%;
}

.name {
  height: var(--row-height);
  background-color: #eee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 16px;
  line-height: var(--row-height);
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.content {
  overflow-x: auto;
}

.settings {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 5fr;
  column-gap: 24px;
  row-gap: 12px;
  padding: 16px;
}

.label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.algoField {
  display: flex;
  height: 36px;
  width: 100%;
}

.w100p {
  width: 100%;
}

.input {
  flex-grow: 2;
}
